# DotEnv configuration
.env

# Personal task tracking file
TODO.md

# Test files
test*

# Virtual environment directory
venv/

# Jupyter Notebook files using for development and testing
notebooks/

# PostgreSQL data directory
postgres_data/

# Airflow data directory
airflow_data/

# Services directory
services/

# Data directory
data/

#Airflow logs
logs/

# Pycharm
.idea

# VS Code
.vscode/

# Jupyter NB Checkpoints
.ipynb_checkpoints/

# Python cache
__pycache__/

# Mac OS-specific storage files
.DS_Store

# secrets
*.secret