# DotEnv configuration
.env

# Personal task tracking file
TODO.md

# Virtual environment directory
venv/

# Jupyter Notebook files using for development and testing
notebooks/

# PostgreSQL data directory
postgres_data/

# exclude data from source control by default
data/

# Pycharm
.idea

# VS Code
.vscode/

# Jupyter NB Checkpoints
.ipynb_checkpoints/

# Mac OS-specific storage files
.DS_Store

# secrets
*.secret